@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url("../css/font/stylesheet.css");


* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    position: fixed;
  }

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .vanta-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  // Typography //

.icon {
    color: #fff;
    font-size: 25px;
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
  }

h2 {
    font-family: 'Helvetica Now Display';
    font-size: 5.6rem;
    line-height: 6.5rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }

h4 {
    font-family: 'Helvetica Now Display';
    color: #fff;
  }

.space {
  margin-left: 25px;
  margin-right: 25px;
}


p {
    color: #fff;
    margin: 20px 0px;
    font-family: 'Helvetica Now Display';
    font-size: 0.75em;
    font-weight: 500;
}

  // Navbar //

  
  .navbar {
    align-items: center;
    display: flex;
  
    a {
      font-weight: 700;
      color: #2d3748;
      text-decoration: none;
      cursor: pointer;
  
      &.router-link-exact-active {
        color: #537DFE;
      }
      
      &:hover {
        color: rgba($color: #2d3748, $alpha: 0.5);
      }
    }
  }

  img {
    width: 100%;
  }

  .blackhawk {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
  }

  .logo {
    width: 100px;
    margin: 20px;
  }
  

  // Home

  .background {
    background-color: #000;
    min-height: 100vh;
    min-width: 100vw;
  }

  .home {
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
  }

  // Footer

  .footer {
    position: absolute;
    bottom: 0;
    margin-top: 0px;
    width: 100%;
    padding: 0px 0px;

    p {
      font-family: 'Helvetica Now Display';
      font-size: 0.6em;
      font-weight: 300;
      letter-spacing: 1.1px;
    }
    
}


@media screen and (max-width: 560px) {

  .background {
    min-height: -webkit-fill-available;
  }

  .home {
    min-height: 50vh;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .blackhawk {
    max-width: 350px;
  }

}